:root {
	/* Text color */
	--prime-color: #212121;
	--active-color: #2196f3;
	--prime-white: #ffffff;
	--grey-text: #757575;
	/* Background color */
	--prime-bg-color: #2f303a;
	--second-bg-color: #f5f4fa;
	/* Border color */
	--border-color: #eeeeee;
	/* Main practise variables */
	--items: 3;
	--indent: 20px;
}

/* ============
  загальні класи для сітки
============ */
.card-set {
	display: flex;
	flex-wrap: wrap;
	gap: var(--indent);
}

.card-set-item {
	/* ============
  
  100% - ширина контейнера
  --indent - значення відступу між елементами
  --items - кількість елементів в рядку
  
  кількість відступів між елементами завжди на 1 менша, ніж кількість елементів в рядку
============ */

	flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: var(--prime-color);
	background-color: #4b0303;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Wrappers */

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.container {
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	color: var(--prime-white);
	background-color: var(--prime-bg-color);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

/* Main section */

.main-title {
	color: var(--grey-text);
	text-align: center;
	margin-bottom: 50px;
}

.link-wrp {
	display: flex;
	justify-content: center;
	align-items: center;
}

.current-link {
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: calc(16 / 14);
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--active-color);
	text-decoration: none;
	border: 1px solid var(--border-color);
	border-radius: 8px;
}

.current-link:hover::after {
	content: "";
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #2105f3;
	border-radius: 4px;
}

.current-link:hover,
.current-link:focus {
	color: #2105f3;
	box-shadow: 2px 3px 5px 3px rgba(209, 255, 215, 0.338), 6px 3px 5px 4px rgba(125, 133, 229, 0.484);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow,
		250ms cubic-bezier(0.4, 0, 0.2, 1) color;
}

.cards {
	list-style: none;
	margin-top: 40px;
}
.card {
	flex-basis: calc((100% - 60px) / 3);
	padding-bottom: 20px;
}

.card:not(:nth-child(3n)) {
	margin-right: 30px;
}

.card:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.card-thumb {
	position: relative;
	overflow: hidden;
}

.card:hover .card-overlay,
.card:focus .card-overlay {
	transform: translateY(-100%);
}

.card-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 63px 24px;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(0);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) transform;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;
	color: var(--prime-white);
}

.card-label {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;

	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--prime-white);
	background-color: rgba(47, 48, 58, 0.8);
}

.card-text {
	padding: 20px;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	border-radius: 0 0 10px 10px;
	transition: 250 ms cubic-bezier(0.075, 0.82, 0.165, 1) box-shadow;
}

.card:hover .card-text,
.card:focus .card-text {
	box-shadow: 5px 6px 7px 3px rgba(32, 117, 44, 0.2), 2px 3px 12px 0px #828180;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow;
}

.card-title {
	display: inline-block;
	margin-top: 20px;
}

.card-desc {
	margin-top: 20px;
}

body {
	font-family: sans-serif;
	background-color: #e2e2e2;
	margin: 0;
}

.section-practice {
	padding-top: 40px;
	padding-bottom: 40px;
}

.container-practice {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;

	/*   outline: 1px solid red; */
	/*   background-color: #fff; */
}

.benefits-title {
	color: white;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}

.benefits-box {
	display: flex;

	/* === Властивості вирівнювання елементів в середині контейнера  === */

	/*  відступ між елементами в середині контейнера  */
	gap: 40px;

	/* === Встановлення переносу елементів на новий рядок  === */
	flex-wrap: wrap;

	/* === Напрямок елментів в середині контейнера  === */
	/*   flex-direction: row; // значення за змовченням */
	/*   flex-direction: row-reverse; */
	/*   flex-direction: column; */
	/*   flex-direction: column-reverse; */

	/* === Вирівнювання елементів вздовж головної осі  === */
	/*   justify-content: flex-start; // значення за змовчeнням */
	/*   justify-content: flex-end; */
	/*   justify-content: center; */
	/*   justify-content: space-evenly; */
	/*   justify-content: space-around; */
	/*   justify-content: space-between; */

	/* === Вирівнювання елементів вздовж допоміжної осі  === */
	/*   aline-items: stretch; // значення за змовченням */
	/*   align-items: flex-start; */
	/*   align-items: flex-end; */
	/*   align-items: center; */
	/*   align-items: baseline; */

	/* === Вирівнювання рядків (працює, коли елементи розташовані в декілька рядків)  === */
	/*   align-content: stretch; // значення за змовченням */
	/*   align-content: flex-start; */
	/*   align-content: flex-end; */
	/*   align-content: center; */
	/*   align-content: space-between; */
	/*   align-content: space-evenly; */
	/*   align-content: space-around; */

	width: 800px;
	height: 400px;
	background-color: lightblue;
	margin: 0 auto;
}

/* .main-box {
     outline: 1px dotted blue; 
    margin: -10px; 
    background-color: teal; 
}  */

.box {
	flex-basis: 200px; /* // встановлює ширину елементам */
	flex-grow: 0; /* // зжимає елементи (значення за змовченням) */
	flex-shrink: 1; /* // розтягує елементи (значення за змовченням) */
	order: 0; /* // визначає порядок елмента (значення за змовченням) */

	width: 150px;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;

	/*   margin-top: auto;
  margin-bottom: auto; */
	/*   margin: 10px; */

	/*   flex-basis: 200px; */
	background-color: tomato;
	border-radius: 4px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
/* .box:nth-child(1) {
  margin-bottom: 100px;
}
 
.box:nth-child(3) {
font-size: 2.4em;
}

.box:nth-child(7) {
  align-self: center;
}

.box:nth-child(2) {
  flex-grow: 2;
  flex-shrink: 2;
}

.box:nth-child(3) {
  flex-grow: 3;
  flex-shrink: 3;
}

.box:nth-child(3) {
  flex-grow: 2;
  order: -1;
} */

.box:nth-child(2n) {
	background-color: blueviolet;
}

.box-txt {
	color: white;
	font-size: 1.5em;
	text-align: center;
}

.box-1 {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: hotpink;

	height: 70px;

	border-radius: 4px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.box-1:nth-child(2n) {
	background-color: teal;
}

/* === Застосування сітки з різною кількістю елементів в рядку === */
.feature-box {
	--items: 2;
}

.team-box {
	--items: 5;
	--indent: 40px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.content {
	padding: 30px 3%;
}
.content__block {
	margin: 0px 0px 50px 0px;
}

/* Основные стили */

/* 2D */
.content__2D .content__block div {
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
	text-align: center;
	width: 150px;
	height: 150px;
	transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

/* translate */
.content__translate {
	background-color: #794f45;
}
.content__translate:hover {
	transform: translateY(50px);
}

/* scale */
.content__scale {
	transform: scale(1, 1);
	background-color: #77608d;
}
.content__scale:hover {
	transform: scale(1, -1);
}

/* rotate  */
.content__rotate {
	transform: rotate(0deg);
	background-color: #7a956b;
}
.content__rotate:hover {
	transform: rotate(360deg);
}

/* skew */
.content__skew {
	transform: skew(0deg, 0deg);
	background-color: #794f45;
}
.content__skew:hover {
	transform: skew(10deg, 0deg);
}
/* matrix */
.content__matrix {
	transform: matrix(1, 0, 0, 1, 0, 0);
	background-color: #77608d;
}
/* multi */
.content__multi {
	background-color: #7a956b;
	transform: translate(50px, 50px) scale(0.5) rotate(45deg);
}

/* transform-origin */
.content__transform-origin {
	background-color: #794f45;
	transform-origin: center;
	transform: rotate(0deg);
}
.content__transform-origin:hover {
	transform: rotate(-30deg);
}

/* 3D */
.content__3D .content__wrapper3d {
	width: 150px;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.1);

	perspective-origin: center;
	perspective: 400px;
}
.content__3D .content__wrapper3d div {
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
	text-align: center;
	transition: all 0.8s ease 0s;
	width: 150px;
	height: 150px;
}

/* perspective */
.content__perspective {
	background-color: #7a956b;
	transform: rotateX(50deg);
}
/* .content__perspective:hover {
} */

/* translate3D */
.content__translate3D {
	transform: translate3D(0px, 0px, 0px);
	background-color: #794f45;
}
.content__translate3D:hover {
	transform: translate3D(20px, 20px, 50px);
}

/* scale3D */
.content__scale3D {
	transform: scale3d(1, 1, 1);
	background-color: #77608d;
}
.content__scale3D:hover {
	transform: scale3d(2, 2, 5);
}

/* rotate3D  */
.content__rotate3d {
	transform: rotate3d(1, 1, 1, 0deg);
	background-color: #7a956b;
}
.content__rotate3d:hover {
	transform: rotate3d(1, 1, 1, 45deg);
}

/* matrix3d */
/* .content__matrix3d {
} */

/* Multi3D */
.content__multi3d {
	background-color: #794f45;
	transform: translate3d(20px, 20px, 20px) rotate3d(1, 1, 1, 10deg);
}

/* transform-style */

.content__transform-style-wrapper {
	width: 150px;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.1);
	perspective: 400px;
	transform-style: preserve-3d;
}
.content__transform-style {
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
	text-align: center;
	transition: all 0.8s ease 0s;
	width: 150px;
	height: 150px;
	transform: rotateX(0deg);
	background-color: #7a956b;
}
.content__transform-style:hover {
	transform: rotateX(50deg);
}

/* Flip */
/* .flip {
} */
.flip__body {
	position: relative;
	width: 150px;
	height: 150px;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
}
.flip__front,
.flip__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flip__front {
	z-index: 2;
	transform: rotateY(0deg);
	background-color: #77608d;

	backface-visibility: hidden;
}
.flip__back {
	transform: rotateY(-180deg);
	background-color: rgba(121, 79, 69, 0.5);
}

.flip:hover .flip__body {
	transform: rotateY(-180deg);
}
